<div class="topnav">
    <a class="active" href="./login.hbs">Back</a>
    <h1><b>DASHBOARD</b></h1>
</div>
<div class="midcontent">
    <h1>How are you, {{username}}</h1>
</div>
    

<div class="GPcontent">
    <div class="Parentcontent">
        <form action="/patient" , method="post" id="loginForm">
            <div class="content-gap">
                <label for='BGLInput'>Blood Glucose Level: </label>
                <input type='number' name='bloodGlucoseLevel'>
            </div>
            <div class="content-gap">
                <label for='WeightInput'>Weight: </label>
                <input type='number' name='weight'>
            </div>
            <div class="content-gap">
                <label for='DILInput'>Doses Insulin Taken: </label>
                <input type='number' name='dosesInsulinTaken'>
            </div>
            <div class="content-gap">
                <label for='ExerciseInput'>Exercise: </label>
                <input type='number' name='exercise'>
            </div>
            <div class="content-gap">
                <label for='MessageInput'>Message: </label>
                <input type='textMessage' name='message'>
            </div>
            <button type='submit' id='submitButton' class="sendbn">Send</button>
        </form>
    </div>
</div>


<div class="midcontent1">
    <table>
        <tr>
            <th>Blood Glucose Level</th>
            <th>Weight</th>
            <th>Doses of Insulin Taken</th>
            <th>Exercise</th>
            <th>Message</th>
        </tr>
        {{#each records}}
        <tr>
            <td>{{this.bloodGlucoseLevel}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.dosesInsulinTaken}}</td>
            <td>{{this.exercise}}</td>
            <td>{{this.message}}</td>
        </tr>
        {{/each}}
    </table>
</div>